
	<p><sup>1</sup> "closely related" is still not enough. We need more metrics to substantiate <code>hotttnesss</code> I begin by plotting <code>blogs</code> against <code>news</code> More information on these metrics is available <a href="http://developer.echonest.com/docs/v4/artist.html#news" target="_blank">here</a> and <a href="http://developer.echonest.com/docs/v4/artist.html#blogs" target="_blank">here</a>.
	</p>
	<p>
		The correlation between these two metrics will vary wildly. 
	</p>
	
<table class="table">
	<thead>
		<th>Artist</th>
		<th>Blogs</th>
		<th>News</th>
	</thead>

		<% @similar["response"]["artists"].each do |artist|%>
	<tr>
		  <td><%= artist["name"] %></td>
		  <td><%= blogs URI::escape(artist["name"]) %></td>
		  <td><%= news URI::escape(artist["name"]) %></td>
	</tr>	
		<% end %>
	    	
	
	
	<tr>
		<td>
			<% @similar["response"]["artists"].each do |artist| %>
				<% @blogArray.push blogs URI::escape(artist["name"]) %>
				<% @newsArray.push news URI::escape(artist["name"]) %>
				
			<%end%>
			
		</td>	
		
	</tr>	
</table>

	<div id="blognewschart" class="span6"></div>