// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#hotfamchart, #blognewschart
{
  margin:0 0 20px 0;
}

footer h5 
{
  color:#999;
  text-align:center;
}